<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Astroke</key>
    <string>A_stroke.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Chi-latin</key>
    <string>C_hi-latin.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>Gammaafrican</key>
    <string>G_ammaafrican.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Heng</key>
    <string>H_eng.glif</string>
    <key>Jcrossedtail</key>
    <string>J_crossedtail.glif</string>
    <key>Jstroke</key>
    <string>J_stroke.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Lbelt</key>
    <string>L_belt.glif</string>
    <key>Nhookleft</key>
    <string>N_hookleft.glif</string>
    <key>Nlongrightleg</key>
    <string>N_longrightleg.glif</string>
    <key>Omega-latin</key>
    <string>O_mega-latin.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Sobliquestroke</key>
    <string>S_obliquestroke.glif</string>
    <key>Vhook</key>
    <string>V_hook.glif</string>
    <key>a.sc</key>
    <string>a.sc.glif</string>
    <key>ae.sc</key>
    <string>ae.sc.glif</string>
    <key>alpha-latin</key>
    <string>alpha-latin.glif</string>
    <key>astroke</key>
    <string>astroke.glif</string>
    <key>brevecomb_tildecomb</key>
    <string>brevecomb_tildecomb.glif</string>
    <key>chi-latin</key>
    <string>chi-latin.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>commercialMinusSign</key>
    <string>commercialM_inusS_ign.glif</string>
    <key>dtail</key>
    <string>dtail.glif</string>
    <key>eight.sups</key>
    <string>eight.sups.glif</string>
    <key>ezh</key>
    <string>ezh.glif</string>
    <key>four.sups</key>
    <string>four.sups.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>jcrossedtail</key>
    <string>jcrossedtail.glif</string>
    <key>lambdastroke</key>
    <string>lambdastroke.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>uniA7B8</key>
    <string>uniA_7B_8.glif</string>
    <key>uniA7B9</key>
    <string>uniA_7B_9.glif</string>
  </dict>
</plist>
