<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Apr 19 20, 18:25</string>
      <string>glyphs.A_pr 19 20, 18_25</string>
    </array>
    <array>
      <string>May 28 20, 14:51</string>
      <string>glyphs.M_ay 28 20, 14_51</string>
    </array>
    <array>
      <string>May 28 20, 14:51.background</string>
      <string>glyphs.M_ay 28 20, 14_51.background</string>
    </array>
    <array>
      <string>May 28 20, 12:46</string>
      <string>glyphs.M_ay 28 20, 12_46</string>
    </array>
    <array>
      <string>May 28 20, 12:46.background</string>
      <string>glyphs.M_ay 28 20, 12_46.background</string>
    </array>
    <array>
      <string>May 28 20, 15:49</string>
      <string>glyphs.M_ay 28 20, 15_49</string>
    </array>
    <array>
      <string>May 28 20, 15:49.background</string>
      <string>glyphs.M_ay 28 20, 15_49.background</string>
    </array>
    <array>
      <string>Jun 8 20, 18:27</string>
      <string>glyphs.J_un 8 20, 18_27</string>
    </array>
    <array>
      <string>May 12 20, 13:10</string>
      <string>glyphs.M_ay 12 20, 13_10</string>
    </array>
    <array>
      <string>May 12 20, 13:13</string>
      <string>glyphs.M_ay 12 20, 13_13</string>
    </array>
    <array>
      <string>May 28 20, 14:34</string>
      <string>glyphs.M_ay 28 20, 14_34</string>
    </array>
    <array>
      <string>May 28 20, 14:34.background</string>
      <string>glyphs.M_ay 28 20, 14_34.background</string>
    </array>
    <array>
      <string>May 18 20, 19:09</string>
      <string>glyphs.M_ay 18 20, 19_09</string>
    </array>
    <array>
      <string>May 18 20, 19:14</string>
      <string>glyphs.M_ay 18 20, 19_14</string>
    </array>
    <array>
      <string>May 20 20, 12:32</string>
      <string>glyphs.M_ay 20 20, 12_32</string>
    </array>
    <array>
      <string>May 20 20, 12:32.background</string>
      <string>glyphs.M_ay 20 20, 12_32.background</string>
    </array>
    <array>
      <string>May 8 20, 16:52</string>
      <string>glyphs.M_ay 8 20, 16_52</string>
    </array>
    <array>
      <string>May 11 20, 12:26</string>
      <string>glyphs.M_ay 11 20, 12_26</string>
    </array>
    <array>
      <string>May 28 20, 14:39</string>
      <string>glyphs.M_ay 28 20, 14_39</string>
    </array>
    <array>
      <string>May 28 20, 14:41</string>
      <string>glyphs.M_ay 28 20, 14_41</string>
    </array>
    <array>
      <string>May 11 20, 13:06</string>
      <string>glyphs.M_ay 11 20, 13_06</string>
    </array>
    <array>
      <string>Jun 8 20, 18:52</string>
      <string>glyphs.J_un 8 20, 18_52</string>
    </array>
    <array>
      <string>Jun 8 20, 19:13</string>
      <string>glyphs.J_un 8 20, 19_13</string>
    </array>
    <array>
      <string>May 11 20, 13:50</string>
      <string>glyphs.M_ay 11 20, 13_50</string>
    </array>
    <array>
      <string>May 11 20, 14:03</string>
      <string>glyphs.M_ay 11 20, 14_03</string>
    </array>
    <array>
      <string>May 27 20, 14:28</string>
      <string>glyphs.M_ay 27 20, 14_28</string>
    </array>
    <array>
      <string>May 31 20, 17:10</string>
      <string>glyphs.M_ay 31 20, 17_10</string>
    </array>
    <array>
      <string>May 31 20, 17:28</string>
      <string>glyphs.M_ay 31 20, 17_28</string>
    </array>
    <array>
      <string>Jun 8 20, 18:38</string>
      <string>glyphs.J_un 8 20, 18_38</string>
    </array>
    <array>
      <string>Jun 8 20, 18:38.background</string>
      <string>glyphs.J_un 8 20, 18_38.background</string>
    </array>
    <array>
      <string>May 27 20, 14:33</string>
      <string>glyphs.M_ay 27 20, 14_33</string>
    </array>
    <array>
      <string>May 12 20, 11:56</string>
      <string>glyphs.M_ay 12 20, 11_56</string>
    </array>
    <array>
      <string>Jun 2 20, 08:57</string>
      <string>glyphs.J_un 2 20, 08_57</string>
    </array>
    <array>
      <string>Jun 2 20, 09:02</string>
      <string>glyphs.J_un 2 20, 09_02</string>
    </array>
    <array>
      <string>Jun 2 20, 09:12</string>
      <string>glyphs.J_un 2 20, 09_12</string>
    </array>
    <array>
      <string>Jun 8 20, 18:41</string>
      <string>glyphs.J_un 8 20, 18_41</string>
    </array>
    <array>
      <string>Jun 8 20, 18:41.background</string>
      <string>glyphs.J_un 8 20, 18_41.background</string>
    </array>
    <array>
      <string>May 12 20, 12:22</string>
      <string>glyphs.M_ay 12 20, 12_22</string>
    </array>
    <array>
      <string>May 12 20, 12:22.background</string>
      <string>glyphs.M_ay 12 20, 12_22.background</string>
    </array>
    <array>
      <string>May 18 20, 19:40</string>
      <string>glyphs.M_ay 18 20, 19_40</string>
    </array>
    <array>
      <string>Apr 12 20, 13:21</string>
      <string>glyphs.A_pr 12 20, 13_21</string>
    </array>
    <array>
      <string>May 28 20, 14:49</string>
      <string>glyphs.M_ay 28 20, 14_49</string>
    </array>
    <array>
      <string>Jun 8 20, 19:08</string>
      <string>glyphs.J_un 8 20, 19_08</string>
    </array>
    <array>
      <string>Jun 8 20, 18:31</string>
      <string>glyphs.J_un 8 20, 18_31</string>
    </array>
    <array>
      <string>Jun 8 20, 18:31.background</string>
      <string>glyphs.J_un 8 20, 18_31.background</string>
    </array>
    <array>
      <string>May 12 20, 15:45</string>
      <string>glyphs.M_ay 12 20, 15_45</string>
    </array>
    <array>
      <string>May 12 20, 15:45.background</string>
      <string>glyphs.M_ay 12 20, 15_45.background</string>
    </array>
    <array>
      <string>May 12 20, 15:38</string>
      <string>glyphs.M_ay 12 20, 15_38</string>
    </array>
    <array>
      <string>May 12 20, 15:38.background</string>
      <string>glyphs.M_ay 12 20, 15_38.background</string>
    </array>
    <array>
      <string>May 12 20, 15:33</string>
      <string>glyphs.M_ay 12 20, 15_33</string>
    </array>
    <array>
      <string>May 12 20, 15:33.background</string>
      <string>glyphs.M_ay 12 20, 15_33.background</string>
    </array>
    <array>
      <string>May 28 20, 15:13</string>
      <string>glyphs.M_ay 28 20, 15_13</string>
    </array>
    <array>
      <string>May 28 20, 15:13.background</string>
      <string>glyphs.M_ay 28 20, 15_13.background</string>
    </array>
    <array>
      <string>Jun 9 20, 17:13</string>
      <string>glyphs.J_un 9 20, 17_13</string>
    </array>
    <array>
      <string>Jun 9 20, 15:04</string>
      <string>glyphs.J_un 9 20, 15_04</string>
    </array>
    <array>
      <string>May 28 20, 15:18</string>
      <string>glyphs.M_ay 28 20, 15_18</string>
    </array>
    <array>
      <string>May 20 20, 14:04</string>
      <string>glyphs.M_ay 20 20, 14_04</string>
    </array>
    <array>
      <string>May 20 20, 14:04.background</string>
      <string>glyphs.M_ay 20 20, 14_04.background</string>
    </array>
    <array>
      <string>Jun 8 20, 18:51</string>
      <string>glyphs.J_un 8 20, 18_51</string>
    </array>
    <array>
      <string>Jun 8 20, 18:51.background</string>
      <string>glyphs.J_un 8 20, 18_51.background</string>
    </array>
    <array>
      <string>May 27 20, 09:33</string>
      <string>glyphs.M_ay 27 20, 09_33</string>
    </array>
    <array>
      <string>Jun 8 20, 18:35</string>
      <string>glyphs.J_un 8 20, 18_35</string>
    </array>
    <array>
      <string>May 27 20, 10:30</string>
      <string>glyphs.M_ay 27 20, 10_30</string>
    </array>
    <array>
      <string>May 31 20, 17:16</string>
      <string>glyphs.M_ay 31 20, 17_16</string>
    </array>
    <array>
      <string>May 31 20, 17:16.background</string>
      <string>glyphs.M_ay 31 20, 17_16.background</string>
    </array>
    <array>
      <string>May 31 20, 17:17</string>
      <string>glyphs.M_ay 31 20, 17_17</string>
    </array>
    <array>
      <string>May 31 20, 17:17.background</string>
      <string>glyphs.M_ay 31 20, 17_17.background</string>
    </array>
    <array>
      <string>May 31 20, 17:24</string>
      <string>glyphs.M_ay 31 20, 17_24</string>
    </array>
    <array>
      <string>May 31 20, 17:24.background</string>
      <string>glyphs.M_ay 31 20, 17_24.background</string>
    </array>
    <array>
      <string>Jun 8 20, 18:39</string>
      <string>glyphs.J_un 8 20, 18_39</string>
    </array>
    <array>
      <string>Jun 8 20, 18:39.background</string>
      <string>glyphs.J_un 8 20, 18_39.background</string>
    </array>
    <array>
      <string>Jun 8 20, 18:40</string>
      <string>glyphs.J_un 8 20, 18_40</string>
    </array>
    <array>
      <string>Jun 8 20, 18:40.background</string>
      <string>glyphs.J_un 8 20, 18_40.background</string>
    </array>
    <array>
      <string>May 27 20, 13:01</string>
      <string>glyphs.M_ay 27 20, 13_01</string>
    </array>
    <array>
      <string>May 27 20, 13:01.background</string>
      <string>glyphs.M_ay 27 20, 13_01.background</string>
    </array>
    <array>
      <string>Jun 8 20, 18:43</string>
      <string>glyphs.J_un 8 20, 18_43</string>
    </array>
    <array>
      <string>Jun 9 20, 15:08</string>
      <string>glyphs.J_un 9 20, 15_08</string>
    </array>
    <array>
      <string>Jun 9 20, 15:11</string>
      <string>glyphs.J_un 9 20, 15_11</string>
    </array>
    <array>
      <string>May 27 20, 15:38</string>
      <string>glyphs.M_ay 27 20, 15_38</string>
    </array>
    <array>
      <string>May 27 20, 15:59</string>
      <string>glyphs.M_ay 27 20, 15_59</string>
    </array>
    <array>
      <string>May 28 20, 15:19</string>
      <string>glyphs.M_ay 28 20, 15_19</string>
    </array>
    <array>
      <string>Jun 8 20, 19:11</string>
      <string>glyphs.J_un 8 20, 19_11</string>
    </array>
    <array>
      <string>Jun 9 20, 15:16</string>
      <string>glyphs.J_un 9 20, 15_16</string>
    </array>
    <array>
      <string>Jun 9 20, 15:17</string>
      <string>glyphs.J_un 9 20, 15_17</string>
    </array>
    <array>
      <string>May 4 20, 17:25</string>
      <string>glyphs.M_ay 4 20, 17_25</string>
    </array>
    <array>
      <string>May 4 20, 17:11</string>
      <string>glyphs.M_ay 4 20, 17_11</string>
    </array>
    <array>
      <string>May 4 20, 17:32</string>
      <string>glyphs.M_ay 4 20, 17_32</string>
    </array>
    <array>
      <string>May 4 20, 17:18</string>
      <string>glyphs.M_ay 4 20, 17_18</string>
    </array>
    <array>
      <string>May 4 20, 17:19</string>
      <string>glyphs.M_ay 4 20, 17_19</string>
    </array>
    <array>
      <string>May 4 20, 17:24</string>
      <string>glyphs.M_ay 4 20, 17_24</string>
    </array>
    <array>
      <string>May 4 20, 17:24.background</string>
      <string>glyphs.M_ay 4 20, 17_24.background</string>
    </array>
    <array>
      <string>Apr 19 20, 17:53</string>
      <string>glyphs.A_pr 19 20, 17_53</string>
    </array>
    <array>
      <string>Apr 12 20, 11:49</string>
      <string>glyphs.A_pr 12 20, 11_49</string>
    </array>
    <array>
      <string>Apr 12 20, 11:53</string>
      <string>glyphs.A_pr 12 20, 11_53</string>
    </array>
    <array>
      <string>Apr 12 20, 11:53.background</string>
      <string>glyphs.A_pr 12 20, 11_53.background</string>
    </array>
    <array>
      <string>May 4 20, 11:12</string>
      <string>glyphs.M_ay 4 20, 11_12</string>
    </array>
    <array>
      <string>Apr 13 20, 17:13</string>
      <string>glyphs.A_pr 13 20, 17_13</string>
    </array>
    <array>
      <string>May 27 20, 15:45</string>
      <string>glyphs.M_ay 27 20, 15_45</string>
    </array>
    <array>
      <string>May 27 20, 15:45.background</string>
      <string>glyphs.M_ay 27 20, 15_45.background</string>
    </array>
    <array>
      <string>Jun 9 20, 16:30</string>
      <string>glyphs.J_un 9 20, 16_30</string>
    </array>
    <array>
      <string>Jun 9 20, 16:30.background</string>
      <string>glyphs.J_un 9 20, 16_30.background</string>
    </array>
    <array>
      <string>May 31 20, 18:16</string>
      <string>glyphs.M_ay 31 20, 18_16</string>
    </array>
    <array>
      <string>May 28 20, 15:53</string>
      <string>glyphs.M_ay 28 20, 15_53</string>
    </array>
    <array>
      <string>May 28 20, 15:53.background</string>
      <string>glyphs.M_ay 28 20, 15_53.background</string>
    </array>
    <array>
      <string>May 28 20, 15:55</string>
      <string>glyphs.M_ay 28 20, 15_55</string>
    </array>
  </array>
</plist>
